.slick-dots {
  bottom: -15px !important;
}
.slick-dots li button::before {
  content: "";
  height: 7px !important;
  border-radius: 50px;
  background-color: #2a4766 !important;
  color: #2a4766 !important;
  display: block;
  transition: all 0.3s ease;
  line-height: 8px !important;
}
.slick-dots .slick-active button::before {
  width: 30px;
  height: 25px;
  background-color: #2a4766 !important;
  color: #2a4766 !important;
}
